.cert_page_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cert_header_container {
    width: 1200px;
    height: 60px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 20px;
    position: relative;
}

.cert_header_container div {
    width: 150px;
    height: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 18px;
    color: white;
    background-color: rgb(95, 0, 29);
}

.cert_header_container div img {
    width: 25%;
    height: 80%;
    margin: 0 20px 0 10px;
}

.cert_header_container > h1 {
    width: 100%;
    font-size: 34px;
    color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cert_information_container, .cert_buyer_container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #8E0E34;
    box-shadow: 2px 2px 5px rgb(163, 163, 163);
    margin-bottom: 40px;
}

.cert_information_container header, .cert_buyer_container header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    background-color: #8E0E34;
    position: relative;
    margin-bottom: 40px;
}

.cert_information_container header h2, .cert_buyer_container header h2 {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.cert_information_container div, .cert_buyer_container div {
    width: 95%;
    display: flex;
    margin-bottom: 50px;
}

.cert_information_content_container section, .cert_buyer_information_content_container section, .cert_buyer_container section {
    font-size: 20px;
    font-weight: bolder;
    color: #8E0E34;
}

.cert_information_content_container section > h2, .cert_buyer_container section > h2 {
    font-weight: lighter;
    margin-top: 20px;
    color: rgb(43, 43, 43);
}

.cert_info_title_container {
    width: 40%;
}
.cert_info_status_container {
    width: 20%;
}
.cert_info_purchase_container {
    width: 20%;
}
.cert_info_expiration_container {
    width: 20%;
}

.cert_buyer_information_content_container {
    width: 100%;
}

.cert_buyer_information_content_container section > p {
    font-weight: lighter;
    margin-top: 20px;
    color: rgb(43, 43, 43);
}

.cert_buyer_description_container {
    width: 50%;
    margin-right: 10%;
}

.cert_buyer_coupon_container {
    width: 25%;
}

.cert_buyer_container div {
    width: 95%;
}

.cert_buyer_container div section {
    width: 33.33%;
    text-align: center;
}

.cert_unredeemed_container section {
    margin-bottom: 40px;
}
.cert_unredeemed_container {
    border-bottom: 1px solid #8E0E34;
}

.cert_button_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.cert_button_container button {
    border: none;
    width: 30%;
    height: 60px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

.cert_redeeminfo_container section {
    background-color: lightblue;
    display: flex;
}

.cert_redeeminfo_content_container div {
    display: flex;
    flex-direction: column;
}

.cert_redeeminfo_content_container div input {
    width: 90%;
}

.cert_redeeminfo_content_container {
    background-color: lightslategray;
    width: 100%;
}
