.certificate_page-container {
    margin-top: 100px;
    width: 650px;
}

.certificate_buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.certificate_product-container {
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.certificate_product-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bolder;
}

.certificate_product-container h2 {
    font-size: 22px;
    font-weight: bold;
}

.certificate_product-container h1 {
    color: rgb(53, 53, 53);
}

.certificate_header-underline {
    width: 100%;
    margin-bottom: 15px;
    border-style: solid;
    border: 1px solid rgb(143, 143, 143);
}

.certificate_information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.certificate_information-container i {
    margin-right: 10px;
    border-radius: 2px;
    padding: 3px;
    color: white;
}

#certificate_inputs-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

#certificate_inputs-container div div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

#certificate_inputs-container div section {
    width: 100%;
    margin-bottom: 10px;
}

#certificate_inputs-container div div:nth-child(2) input {
    float: right;
}
#certificate_inputs-container div div:nth-child(2) h1 {
    width: 95%;
    float: right;
}

#certificate_inputs-container div div section h1 {
    margin-bottom: 5px;
    font-size: 14px;
    color: lightgray;
}

#certificate_inputs-container input {
    width: 95%;
    height: 35px;
    border: 0.5px solid rgb(199, 199, 199);
    padding: 0 0px 0 8px;
    box-sizing: border-box;
    font-size: 14px;
}

#certificate_inputs-container button {
    height: 35px;
    border-radius: 2px;
    color: white;
    background-color: #06ca21;
    border: none;
    font-size: 14px;
    cursor: pointer;
}